<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>VM Encrypted</title>
</head>
<body>
    <nav class="nav-wraper">
        <a href="/" class="brand-logo" style="font-size: 20px; margin-left: 10px;">Home</a>
        <a href="#" class="sidenav-trigger" data-target="mobile-links">
            <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="https://github.com/Cikappa2904/VMwareRemote">GitHub</a></li>
        </ul>
    </nav>

    <ul class="sidenav" id="mobile-links">
        <li><a href="https://github.com/Cikappa2904/VMwareRemote">GitHub</a></li>
    </ul>
    
    <h1>The VM you tried to access is encrypted and this tool doesn't have the capabilities to handle it at the moment. <br> Sorry for the inconvenience.</h1>
    <br>
    <h3>VM Path: "{{vmPath}}"</h3>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.sidenav').sidenav();
        })
    </script>
</body>
</html>