<!DOCTYPE html>
<html lang="en">
<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>VM List</title>
    
</head>
<body>

    <nav class="nav-wraper">
        <a href="/" class="brand-logo" style="font-size: 20px; margin-left: 10px;">Home</a>
        <a href="#" class="sidenav-trigger" data-target="mobile-links">
            <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="https://github.com/Cikappa2904/VMwareRemote">GitHub</a></li>
        </ul>
    </nav>

    <ul class="sidenav" id="mobile-links">
        <li><a href="https://github.com/Cikappa2904/VMwareRemote">GitHub</a></li>
    </ul>

<!-- Template for the cards -->
    <div class="container">
        <div class="row" id="template">
            <div class="col s4"  style="display: none; " >
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Card Title</span>
                        <p id="text">I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                    <a id="showMoreButton" href="#">Show more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Template for the cards -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.sidenav').sidenav();
        })
    </script>

</body>


<script>
    const template = document.getElementById("template").firstElementChild;
    function createCards(i)
    {
        //Function that creates the materialize cards by copying the hidden one from the html (id=template), and then putting the VM specs and name from the async JSON
        let url = '/vmOverview?vmNumber=' + i.toString();
        var obj;
        fetch(url)
        .then(res => res.json())
        .then(out => obj = out)
        .then(function(obj)
        {
            const newCard = template.cloneNode(true);
            newCard.style.display = "block";
            newCard.firstElementChild.firstElementChild.firstElementChild.innerHTML = "<b>" + obj["vmName"] + "</b>";
            if (obj["encrypted"])
            {
                newCard.firstElementChild.firstElementChild.lastElementChild.innerHTML = "Encrypted VM. Unable to view the specs.";
            }
            else
            {
                newCard.firstElementChild.firstElementChild.lastElementChild.innerHTML = "CPUs: " + obj["cpuSpecs"] + "<br>" + "RAM: " + obj["RAMSpecs"] + " MB<br>"+ "BIOS Type: " + obj["biosType"] + "<br>";
            }
            newCard.firstElementChild.lastElementChild.firstElementChild.href = "specs.html?vmNumber=" + i.toString();
            document.getElementById("template").appendChild(newCard);

        });
    }
    for (let i = 0; i<parseInt("{{vmNumbers}}"); i++)
    {
        createCards(i);
    }


    
</script>
</html>   