<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<script>
    document.title = "{{vmName}}";
    if ("{{exists}}" == "False")
    {
        window.location.href = "/notFound.html?vmPath=" + "{{vmPath1}}";
    }
</script>
<body>
    
    <ul id="specsUL">
        <li id="cpuSpecs"></li>
        <li id="ramSpecs"></li>
        <li id="firmwareLabel"></li>
        <li id="hostPath"></li>
        <li id = "isON"></li>
    </ul>
    <button id="runVM">run</button>
    <button id="editVM">Edit</button>
</body>
<script>
    
    //get JSON (https://stackoverflow.com/questions/12460378/how-to-get-json-from-url-in-javascript)
    let url = '/spec?vmNumber=' + "{{vmNumber}}";
    var obj;
    fetch(url)
    .then(res => res.json())
    .then(out => obj = out)
    .then(function(obj)
    {
        document.getElementById("cpuSpecs").textContent = ("CPU Cores: " + obj['cpuSpecs']);
        document.getElementById("ramSpecs").textContent = ("RAM: " + obj['RAMSpecs'] + " MB");
        document.getElementById("firmwareLabel").textContent = ("Firmware type: " + obj['biosType']);
        if (obj['biosType'] == 'true') 
        {
            document.getElementById("firmwareLabel").textContent = ("Firmware type: " + 'UEFI');
        }
        else
        {
            document.getElementById("firmwareLabel").textContent = ("Firmware type: " + 'BIOS');
        }
        document.getElementById("hostPath").textContent = ("Host path: " + obj['vmPath']);
        document.getElementById("isON").textContent = ("Is ON: " + obj['isON']);
        if(obj['vncPort']!= null)
        {
            let li = document.createElement("li")
            li.appendChild(document.createTextNode("VNC Port: " + obj['vncPort']));
            document.getElementById("specsUL").appendChild(li);
        }

        const runButton = document.getElementById("runVM");
        if(obj['isON'] == "True")
        {
            runButton.textContent = "Shutdown";
            runButton.onclick = stopVM;
        }
        else if(obj['isON'] == "False")
        {
            runButton.onclick = runVM;
        }
        else 
        {
            runButton.style.display = "none";
        }

        obj['networkList'].forEach(function(x)
        {

            const li1 = document.createElement("li");
            li1.appendChild(document.createTextNode(x.name + ".enabled: " + x.enabled));
            document.getElementById("specsUL").appendChild(li1);
            const li2 = document.createElement("li");
            li2.appendChild(document.createTextNode(x.name + ".type: " + x.networkType));
            document.getElementById("specsUL").appendChild(li2);
        });
    });
    

   
    
    const firmwareLabel = document.getElementById("firmwareLabel");
    if("{{biosType1}}" == "True") firmwareLabel.textContent = "Firmware type: EFI";
    else firmwareLabel.textContent = "Firmware type: BIOS";

    const editButton = document.getElementById("editVM");
    editButton.onclick = function()
    {
        window.location.href = "/edit.html?vmNumber=" + "{{vmNumber}}";
    };

    function runVM()
    {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", "/runVM" + "?vmNumber=" + "{{vmNumber}}", true ); // false for synchronous request
        xmlHttp.onload = function (e) 
        {
            if (xmlHttp.readyState === 4) 
            {
                if (xmlHttp.status === 200) 
                {
                    runButton.textContent = "Shutdown";
                    runButton.onclick = stopVM;
                    document.getElementById("isON").textContent = "IsON: True";
                }
                else
                {
                    console.error(xmlHttp.statusText);
                }
            }
        };
        xmlHttp.send(null);
        return xmlHttp.responseText;
    }
    function stopVM()
    {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", "/stopVM" + "?vmNumber=" + "{{vmNumber}}", true ); // false for synchronous request
        xmlHttp.onload = function (e) 
        {
            if (xmlHttp.readyState === 4) 
            {
                if (xmlHttp.status === 200) 
                {
                    runButton.textContent = "run";
                    runButton.onclick = runVM;
                    document.getElementById("isON").textContent = "IsON: False";
                }
                else
                {
                    console.error(xmlHttp.statusText);
                }
            }
        };
        xmlHttp.send(null);
    }
</script>
</html>