<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<script>
    document.title = "{{vmName}}";
    if ("{{exists}}" == "False")
    {
        window.location.href = "/notFound.html?vmPath=" + "{{vmPath1}}";
    }
</script>
<body>
    <nav class="nav-wraper">
        <a href="/" class="brand-logo" style="font-size: 20px; margin-left: 10px;">Home</a>
        <a href="#" class="sidenav-trigger" data-target="mobile-links">
            <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="https://github.com/Cikappa2904/VMwareRemote">GitHub</a></li>
        </ul>
    </nav>

    <ul class="sidenav" id="mobile-links">
        <li><a href="https://github.com/Cikappa2904/VMwareRemote">GitHub</a></li>
    </ul>

    <div class="container">
        <ul id="specsUL" class="collection with-header">
            <li class="collection-header green lighten-2"><center><h4>{{vmName}}</h2></center></li>
            <li class="collection-item" id="cpuSpecs"></li>
            <li class="collection-item" id="ramSpecs"></li>
            <li class="collection-item" id="firmwareLabel"></li>
            <li class="collection-item" id="hostPath"></li>
            <li class="collection-item" id = "isON"></li>
        </ul>
        <center>
            <a class="waves-effect waves-light btn blue-grey darken-2" id="runVM">run</a>
            <!-- Modal Trigger -->
            <a class="waves-effect waves-light btn modal-trigger" href="#modal1" id="">Edit</a>
            <!-- <a class="waves-effect waves-light btn blue-grey darken-2" id="editVM">Edit</a> -->
            <a class="waves-effect waves-light btn modal-trigger" href="#modal2" id="cloneVM">Clone</a>
        </center>
    </div>  
    
    

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
    <div class="modal-content">
        <form method="post" action="/editVM" name="editForm" id="editForm">
            <!-- TODO: Check for letters and symbols -->
            <label for="cpuCores">CPU Cores: </label><br>
            <input type="number" onKeyDown='checkMAXValue(this, "{{hostCPUCores}}" )' min="1" max="{{hostCPUCores}}" value="1" name="cpuCores" id="cpuCores"><br>
            <label for="cpuCores">RAM: </label><br>
            <input type="number" onKeyDown='checkMAXValue(this, "{{hostRAM}}" )' min="4" max="{{hostRAM}}" value="1024" name="ram" id="ram"><br>
            <p>
                <label> 
                  <input type="checkbox" class="filled-in" name="VNC" id="VNC" onclick="checkVNC(this);"/>
                  <span>VNC Enabled: </span>
                </label>
              </p>
            <label for="VNCPort" id="VNCPortLabel" style="display:none">VNC Port: </label>
            <input type="number" value="5900" name="VNCPort" id="VNCPort" style="display:none">
                
            <div class="input-field col s1">
                <select name="biosType" id="biosType">
                    <option value="UEFI">UEFI</option>
                    <option value="BIOS">BIOS</option>
                </select>
                <label style="margin-left: -10px">BIOS Type</label>
            </div>

            <label for="howManyNetworkCards">How many network cards?</label>
            <input type="number" name="howManyNetworkCards" min="0" max="9" value="{{networkCardNumber}}" onchange="changeNetworkCardNumber(this)">
           <br> <br>
           <div id="template" style="display: none">

                <div class="input-field col s12">
                    <select id="networkType">
                    <option value="nat">nat</option>
                    <option value="bridged">bridged</option>
                    <option value="hostonly">hostonly</option>
                    </select>
                    <label style="margin-left: -10px">Materialize Select</label>
                </div>
                <p>
                    <label>
                    <input type="checkbox" class="filled-in" checked="checked" />
                    <span>Filled in</span>
                    </label>
                </p>
           </div>
           <div id="networkContainer">

           </div>
            
        </form>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat" onclick="submitForm()">Agree</a>
    </div>
    </div>


     

    <!-- Modal Structure -->
    <div id="modal2" class="modal">
        <div class="modal-content">
        <h4>Please wait.</h4>
        <p>The server is cloning the virtual machine. This could take a while.</p>
            <div class="progress">
                <div class="indeterminate"></div>
            </div>
        </div>
    </div>




    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.sidenav').sidenav();
        })

        $(document).ready(function(){
            $('.modal').modal();
        });

        $(document).ready(function(){
            $('select').formSelect();
        });
    </script>
</body>

<script>
        
        function addHidden(theForm, key, value) {
        //copied from: https://stackoverflow.com/questions/9251301/how-to-add-a-new-hidden-input-fields-to-the-form-on-submit
        // Create a hidden input element, and append it to the form:
        var input = document.createElement('input');
        input.type = 'hidden';
        input.name = key; // 'the key/name of the attribute/field that is sent to the server
        input.value = value;
        theForm.appendChild(input);
    }

    const form = document.forms['editForm'];
    function checkVNC(checkbox)
    {
        if(checkbox.checked) 
        {
            document.getElementById("VNCPort").style.display = "block";
            document.getElementById("VNCPortLabel").style.display = "block";
        }
        else
        {
            document.getElementById("VNCPort").style.display = "none";
            document.getElementById("VNCPortLabel").style.display = "none";
        }
    }
    function checkMAXValue(obj, value)
    {
        if(parseInt(obj.value)>parseInt(value))
        {
            obj.value = value;
        }
    }
    let lastNetworkNumber = 0;
    const networkDiv = form.lastElementChild;

    function createNetworkInput(netNumber)
    {   
        // console.log("lastNetworkNumber:" + lastNetworkNumber);
        // console.log("netNumber:" + netNumber);
        if (netNumber - lastNetworkNumber > 0)
        {
            
            for (let i=lastNetworkNumber; i<netNumber; i++)
            {

                const template = document.getElementById("template");
                const newEthernet = template.cloneNode(true);
                newEthernet.children[0].children[0].children[3].name = "ethernet"+i+"_type";
                newEthernet.children[0].children[1].textContent = "ethernet"+i+"_type: ";
                newEthernet.children[1].children[0].children[0].name = "ethernet"+i+"_enabled";
                newEthernet.children[1].children[0].children[1].textContent = "ethernet"+i+"_enabled: ";

                newEthernet.style.display = "inline";
                networkDiv.appendChild(newEthernet);
            }
            lastNetworkNumber = netNumber;
        }
        else if (netNumber - lastNetworkNumber < 0)
        {
            for (let i=lastNetworkNumber; i>netNumber; i--)
            {
                networkDiv.removeChild(networkDiv.lastElementChild);
            }
            lastNetworkNumber = netNumber;
        }    
        

    }
    function changeNetworkCardNumber(obj)
    {
        netNumber = obj.value;
        //console.log(netNumber);
        createNetworkInput(parseInt(netNumber));
    }
   
    addHidden(form, "vmNumber", "{{vmNumber}}"); //the VMNumber is sent to the server so it can change the specs of the right VMs
    function submitForm()
    {
        addHidden(form, "networkCardNumber", netNumber); //the networkCardNumber is sent to the server so it can see how many network cards are there (WIP)
        form.submit();
    }
</script>

<script>
    
    //get JSON (https://stackoverflow.com/questions/12460378/how-to-get-json-from-url-in-javascript)
    let url = '/spec?vmNumber=' + "{{vmNumber}}";
    var obj;
    fetch(url)
    .then(res => res.json())
    .then(out => obj = out)
    .then(function(obj)
    {
        console.log(obj);
        document.getElementById("cpuSpecs").textContent = ("CPU Cores: " + obj['cpuSpecs']);
        document.getElementById("ramSpecs").textContent = ("RAM: " + obj['RAMSpecs'] + " MB");
        if (obj['biosType'] == true) 
        {
            document.getElementById("firmwareLabel").textContent = ("Firmware type: " + 'UEFI');
        }
        else
        {
            document.getElementById("firmwareLabel").textContent = ("Firmware type: " + 'BIOS');
        }
        document.getElementById("hostPath").textContent = ("Host path: " + obj['vmPath']);
        document.getElementById("isON").textContent = ("Is ON: " + obj['isON']);
        if(obj['vncPort']!= null)
        {
            let li = document.createElement("li")
            li.appendChild(document.createTextNode("VNC Port: " + obj['vncPort']));
            li.className = "collection-item";
            document.getElementById("specsUL").appendChild(li);
        }

        const runButton = document.getElementById("runVM");
        if(obj['isON'] == "True")
        {
            runButton.textContent = "Shutdown";
            runButton.onclick = stopVM;
        }
        else if(obj['isON'] == "False")
        {
            runButton.onclick = runVM;
        }
        else 
        {
            runButton.style.display = "none";
        }

        obj['networkList'].forEach(function(x)
        {

            const li1 = document.createElement("li");
            li1.appendChild(document.createTextNode(x.name + ".enabled: " + x.enabled));
            li1.className = "collection-item";
            document.getElementById("specsUL").appendChild(li1);
            const li2 = document.createElement("li");
            li2.className = "collection-item";
            li2.appendChild(document.createTextNode(x.name + ".type: " + x.networkType));
            document.getElementById("specsUL").appendChild(li2);
        });
    });
    
    const cloneButton = document.getElementById("cloneVM");
    cloneButton.onclick = function()
    {
        let vmName = prompt("Insert new VM name: ");
        cloneVM(vmName)
        
    }
    function runVM()
    {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", "/runVM" + "?vmNumber=" + "{{vmNumber}}", true ); // false for synchronous request
        xmlHttp.onload = function (e) 
        {
            if (xmlHttp.readyState === 4) 
            {
                if (xmlHttp.status === 200) 
                {
                    runButton.textContent = "Shutdown";
                    runButton.onclick = stopVM;
                    document.getElementById("isON").textContent = "IsON: True";
                }
                else
                {
                    console.error(xmlHttp.statusText);
                }
            }
        };
        xmlHttp.send(null);
        return xmlHttp.responseText;
    }
    function stopVM()
    {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", "/stopVM" + "?vmNumber=" + "{{vmNumber}}", true ); // false for synchronous request
        xmlHttp.onload = function (e) 
        {
            if (xmlHttp.readyState === 4) 
            {
                if (xmlHttp.status === 200) 
                {
                    runButton.textContent = "run";
                    runButton.onclick = runVM;
                    document.getElementById("isON").textContent = "IsON: False";
                }
                else
                {
                    console.error(xmlHttp.statusText);
                }
            }
        };
        xmlHttp.send(null);
    }

    function loadingWheel()
    {
        const spinningBackground = document.getElementById("spinningBackground");
        spinningBackground.style.zIndex = 3;
    }

    function cloneVM(vmName)
    {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", "/cloneVM" + "?vmNumber=" + "{{vmNumber}}" + "&vmName=" + vmName, true ); // false for synchronous request
        xmlHttp.onload = function (e) 
        {
            if (xmlHttp.readyState === 4) 
            {
                if (xmlHttp.status === 200) 
                {
                    alert("VM cloned successfully");
                    $('#modal2').modal('close');
                }
                else
                {
                    alert("VM not cloned");
                    console.error(xmlHttp.statusText);
                }
            }
        };
        xmlHttp.send(null);
    }
</script>
</html>