<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EditVM</title>
</head>
<body>
    <form action="">
        <!-- TODO: Get number of host CPU cores -->
        <label for="cpuCores">CPU Cores: </label><br>
        <input type="text" name="cpuCores" id="cpuCores"><br>
        <label for="cpuCores">RAM: </label><br>
        <input type="text" name="ram" id="ram"><br>
    </form>
</body>
</html>