<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<script>
    document.title = "{{vmName}}";
    if ("{{exists}}" == "False")
    {
        window.location.href = "/notFound.html?vmPath=" + "{{vmPath1}}";
    }
</script>
<body>
    
    <ul id="specsUL">
        <li>CPU Cores: {{cpuSpecs1}}</li>
        <li>RAM: {{RAMSpecs1}} MB</li>
        <li>Firmware type: {{biosType1}}</li>
        <li>Host VM path: {{vmPath1}}</li>
        <li id = "isON_Label">IsON: {{isON}}</li>
    </ul>
    <button id="runVM">run</button>
    <button id="editVM">Edit</button>
</body>
<script>
    
    const specsUL = document.getElementById("specsUL");
    let li = document.createElement("li");
    if("{{vncPort}}"!="None")
    {
        li.appendChild(document.createTextNode("VNC Port: " + "{{vncPort}}"));
        specsUL.appendChild(li);
    }

    const runButton = document.getElementById("runVM");
    const isON = "{{isON}}";
    if(isON == "True")
    {
        runButton.textContent = "Shutdown";
        runButton.onclick = stopVM;
    }
    else if(isON == "False")
    {
        runButton.onclick = runVM;
    }
    else 
    {
        runButton.style.display = "none";
    }


    const editButton = document.getElementById("editVM");
    editButton.onclick = function()
    {
        window.location.href = "/edit.html?vmNumber=" + "{{vmNumber}}";
    };

    function runVM()
    {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", "/runVM" + "?vmNumber=" + "{{vmNumber}}", true ); // false for synchronous request
        xmlHttp.onload = function (e) 
        {
            if (xmlHttp.readyState === 4) 
            {
                if (xmlHttp.status === 200) 
                {
                    runButton.textContent = "Shutdown";
                    runButton.onclick = stopVM;
                    document.getElementById("isON_Label").textContent = "IsON: True";
                }
                else
                {
                    console.error(xhr.statusText);
                }
            }
        };
        xmlHttp.send(null);
        return xmlHttp.responseText;
    }
    function stopVM()
    {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", "/stopVM" + "?vmNumber=" + "{{vmNumber}}", true ); // false for synchronous request
        xmlHttp.onload = function (e) 
        {
            if (xmlHttp.readyState === 4) 
            {
                if (xmlHttp.status === 200) 
                {
                    runButton.textContent = "run";
                    runButton.onclick = runVM;
                    document.getElementById("isON_Label").textContent = "IsON: False";
                }
                else
                {
                    console.error(xhr.statusText);
                }
            }
        };
        xmlHttp.send(null);
    }
</script>
</html>